#propertiesContainer{
    width: 100%;
    margin: 0 auto;

    main{
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}