@import "../../Desing/variables.scss";
@import "../../Desing/mixin.scss";
#profileWrapper {
    background-color: $white;
    margin: 40px auto;
    border-radius: 10px;
    width: 40%;
    position: relative;
    min-height: 70vh;
    @include shadows;
    //#profileInfo
    @include MQ(1300px) {
        width: 50%;
    }
    @include MQ(1150px) {
        width: 60%;
    }
    @include MQ(900px) {
        width: 70%;
    }
    @include MQ(760px) {
        width: 80%;
    }
    @include MQ(600px) {
        width: 90%;
    }

    .profileMenu {
        position: absolute;
        z-index: 10;
        top: 5px;
        right: 10px;
        font-size: 20px;
        color: $mainColor;

        @include MQ(600px) {
            font-size: 16px;
        }
        &:hover {
            cursor: pointer;
            color: darken($mainColor, 5);
        }
    } //#menu
} //#profileMenu

#profileMenuWrapper {
    border: 2px solid $mainColor;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    background-color: $color;

    main {
        width: 100%;
        margin: 40px auto;
        @include MQ(600px) {
            margin: 20px auto;
        }
    }
}

.myProperties {
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 0;
    background-color: $color;
    @include MQ(600px) {
        height: 200px;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: $orange;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $mainColor;
    }
}
.myProf {
    margin-right: 20px;
    width: 500px;
    @include MQ(600px) {
        width: auto;
    }
}

.propsH1 {
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    @include MQ(600px) {
        font-size: 12px;
    }
}

.top {
    margin-top: 30px;
    border-top: 2px solid $mainColor;
}
.profilePropsLoader {
    position: absolute;
    bottom: 180px;
}
