@import "../../../Desing/variables.scss";
@import "../../../Desing/mixin.scss";

.mobileNavigaton {
    display: block;
    margin: 0 auto;
    position: relative;
    display: none;
    width: 100%;

    @include MinQ(600px) {
        display: none;
    }

    ul {
        @include MinQ(600px) {
            display: none;
        }
        background: $mainColor;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.2s ease;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        li {
            padding: 5px 0;
            border-bottom: 2px solid $white;
            &:nth-last-child(1) {
                border-bottom: none;
            }
        }
    }
    a {
        color: $white;
        text-decoration: none;
        font-weight: 600;
    }
}

.clickedNav {
    display: block;

    ul {
        height: max-content;
        opacity: 1;
        transform: translateY(0);
    }
}
