@import "../../Desing/variables.scss";
@import "../../Desing/mixin.scss";

.parent {
    background-color: #ffff;
    border-radius: 10px;
    min-width: 500px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;

    @include MQ(600px) {
        min-width: 300px;
        height: 130px;
    }

    @include shadows;

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        width: 100% !important;

        #like {
            position: absolute;
            font-size: 20px;
            top: 5px;
            right: 10px;
            @include MQ(600px) {
             font-size: 10px
            }
            &:hover {
                color: $mainColor;
                cursor: pointer;
            }
        }

        #liked {
            position: absolute;
            font-size: 20px;
            top: 5px;
            right: 10px;
            @include MQ(600px) {
                font-size: 10px
               }
            &:hover {
                color: $mainColor;
                cursor: pointer;
            }
        }
    }

    .cardImgInfo {
        width: 50%;
    }

    .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px;

            @include MQ(600px) {
                font-size: 10px;
            }

            .icon {
                margin-right: 5px;
            }
        }
    }

    h6 {
        margin: 5px;
        font-size: 14px;
        font-weight: 600;

        @include MQ(600px) {
            font-size: 10px;
            margin: 2px;
        }
    }

    h2 {
        margin: 20px 0;
        text-align: center;
        font-weight: 600;
        @include MQ(600px) {
            font-size: 12px;
            margin: 5px;
        }
    }

    footer {
        border-top: 1px solid $mainColor;
        @include MQ(600px) {
            border: none
           }
    }

    button {
        @include buttons;
        margin: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include MQ(600px) {
            height: 30px;
           }
        &:hover {
            cursor: pointer;
            background-color: darken($mainColor, 5);
        }
    }
}

.propImage {
    align-content: flex-start;
    width: 240px;
    height: 190px;

    @include MQ(600px) {
        width: 150px;
        height: 120px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
    }
}

.cardLoader {
    width: 100%;
    margin: 50px auto;
}
