@import "../../Desing/variables.scss";
@import "../../Desing/mixin.scss";

#detailAsside {
    background-color: white;
    width: 100%;
    height: 100%;
    max-height: 320px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include MQ(810px) {
        min-height: 350px;
        height: 350px;
    }
    @include MQ(600px) {
        min-height: 250px;
        height: 250px;
    }
    @include MQ(600px) {
        min-height: 250px;
        height: 250px;
    }
    @include shadows;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        section {
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: 2px solid $mainColor;
            :nth-child(2) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            @include MQ(1105px) {
                flex-direction: column;
            }
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                @include MQ(600px) {
                    width: 40px;
                    height: 40px;
                }
            }
            h5 {
                margin: 0;
                padding: 0;
                font-size: 20px !important;
                font-weight: 600;
                @include MQ(600px) {
                    font-size: 10px !important;
                }
            }
            h6 {
                font-weight: 600;
                font-size: 12px;
                margin: 10px 0;
                @include MQ(600px) {
                    font-size: 5px !important;
                }
            }
        }

        h3 {
            text-transform: capitalize;
            margin: 20px 0 0 0;
            font-size: 16px;
            font-weight: 600;
            @include MQ(600px) {
                font-size: 10px;
            }
        }
        h5 {
            font-size: 14px;
            font-weight: unset;
            margin: 10px 0 0 0;
            @include MQ(600px) {
                font-size: 8px;
            }
        }

        h2 {
            color: $mainColor;
            font-size: 28px;
            font-weight: 600;
            margin: 10px;
            @include MQ(600px) {
                font-size: 14px;
            }
        }
    }

    div {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        a {
            width: 100%;
        }
    }

    button {
        @include buttons;
        width: 100%;
        height: 40px;
        margin: 0;
        color: $white;
        background-color: $mainColor;
        font-size: 16px;
        &:hover {
            cursor: pointer;
            background-color: darken($mainColor, 5);
        }

        @include MQ(600px) {
            font-size: 10px;
            height: 30px !important;
            max-height: 30px !important;
        }
    }

    .buttonsWrapper {
        display: flex;
        width: 100%;
        box-sizing: content-box;
    }
    #editPropButton {
        background-color: $mainColor;
        &:hover {
            background-color: darken($mainColor, 5);
        }
    }
    #deleteButton {
        background-color: #f5a44e;
        &:hover {
            background-color: darken(#f5a44e, 5);
        }
    }
}
