@import "../../Desing/variables.scss";
@import "../../Desing/mixin.scss";

.formWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: auto;
    max-width: 510px;
    max-height: 490px;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 10%;
    left: 5%;
    border-radius: 10px;
    @include shadows;
    @include MQ(600px) {
        top: 7%;
        width: 85%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    @include formHeader;

    button {
        @include buttons;
        margin: 0;
        @include MQ(600px){
            height: 40px;
          }
        &:hover {
            cursor: pointer;
            background-color: darken($mainColor, 4);
        }
    }
}

.searchFormBody {
    h4 {
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        font-weight: 600;
    }
}

.imputs {
    display: flex;
    max-width: 80%;
    justify-content: space-between !important;
    align-items: center;
    margin: 0 auto;
    @include MQ(600px) {
        max-width: 90%;
        font-size: 10px;
    }
}
.options {
    @include inputField;

    @include MQ(600px) {
        width: 40%;
        height: 30px;
        font-size: 10px;
    }
}

.typeflat {
    @include inputField;
}

.typeContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;

    @include MQ(600px) {
        font-size: 10px !important;
    }

    select {
        width: 110px !important;
        @include MQ(600px) {
            width: 80px !important;
        }
    }
}

.clicked {
    color: black !important;
    background-color: white !important;

    &:hover {
        cursor: pointer;
    }
}
