@import './variables.scss';


@mixin inputField {
    height: 40px;
    border: 2px solid $mainColor;
    margin:10px;
    width: 80%;
    max-width: 200px;
    font-size: 14px;
    border-radius: 5px;
}
@mixin formHeader {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12%;
        margin: 0;
        padding: 0;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: $mainColor;
            padding: 0;
            margin: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            font-weight: 600;
            color: white;
            width: 100%;
            height: 100%;
            &:hover {
                cursor: pointer;
                background-color: darken($mainColor, 3);
            }
        }
    } 

}

@mixin buttons {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: $mainColor;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin:40px 0;
    &:hover {
        cursor: pointer;
        background-color: darken($mainColor,5);
    }
}

@mixin MQ($arg) {
    @media screen and (max-width:$arg) {
        @content
    }
}