@import "../../Desing/variables.scss";
@import "../../Desing/mixin.scss";

.profileHeader {
    width: 100%;
    max-height: 250px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include MQ(600px) {
        width: 100%;
        margin: 0 auto;
        max-height: 200px;
    }
    #profilePicture {
        height: 200px;
        width: 200px;
        margin: 30px 0 0 30px;
        @include MQ(600px) {
            height: 100px;
            width: 100px;
            margin: 10px;
        }
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    #profileInfo {
        height: 400px;

        h1 {
            color: black;
            font-size: 20px;
            font-weight: 900;
            text-align: center;
            margin-left: 10px;
            @include MQ(600px) {
                font-size: 14px;
                margin-top: 20px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px auto;

            div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin: 0px;
                padding: 0;
            }

            h6 {
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                padding: 0;
                margin: 15px;
                @include MQ(600px) {
                    font-size: 10px;
                    margin: 10px 5px;
                }
            }
        } //Div
    }
}
