@import '../../Desing/variables.scss';
@import '../../Desing/mixin.scss';


#confirm{
    position: fixed;
    background-color: $white;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 35%;
    top: 30%;
    @include shadows;
    header{
        h1{
            font-weight: 600
        }
    }
    footer{
        button{
            @include buttons;
            margin:0;
            border-radius: 0;
            height: 50px;

            &:hover{
                cursor: pointer;
                background-color: darken($mainColor, 5);
            }
        }
        button:nth-child(1){
            background-color: $orange;
            &:hover{
                cursor: pointer;
                background-color: darken($orange, 5);
            }
        }
    }
}