@import './Desing/variables.scss';
@import './Desing/mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,300;1,400&family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEDED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.errors{
  border:2px solid red !important;
}