@import "../../Desing/variables.scss";
@import "../../Desing/mixin.scss";
.detailImages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    @include MQ(600px) {
        margin-top: 20px;
    }
    div {
        width: 30%;
        margin: 5px 10px 5px 0;
        max-height: 80px;
        position: relative;

        .deleteImage {
            position: absolute;
            color: $white;
            font-size: 20px;
            right: 2%;
            top: 1%;

            @include MQ(600px) {
                font-size: 12px;
            }
            &:hover {
                cursor: pointer;
                font-size: 21px;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover {
            cursor: pointer;
        }
    }
}

.imgDetailLoading {
    margin-left: 170px !important;
    padding-bottom: 40px !important;
}
